dash==0.36.0
dash-core-components==0.43.0
dash-html-components==0.13.5
dash-renderer==0.17.0
gunicorn==19.9.0
joblib==0.13.1
matplotlib==3.0.2
numpy==1.16.1
pandas==0.24.1
plotly==3.6.0
scikit-learn==0.20.2



